
{% load static %}
{% block content %}
{% include 'header.html' %}
{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}

<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-center mb-4">Food Request To Admin</h2>

             

                <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel" aria-labelledby="nav-ContactForm-tab">

                           
                        <form  class="custom-form contact-form mb-5 mb-lg-0" method="post" name="contact-us" action="addfoodreq/{{result.id}}">
                            {% csrf_token %}
                            <div class="contact-form-body">
                               
                                    <div class="col-lg-12 col-md-6 col-12">
                                        <input type="text" class="form-control" id="uname" name="uname" hidden value="{{result.uname}}">
                                        
                                    </div>

                                    <div class="col-lg-12 col-md-6 col-12">
                                        <input type="text" class="form-control" id="uid" name="uid" hidden value="{{result.uid}}"  >
                                    </div>
                      
                                    <div class="col-lg-12 col-md-6 col-12">
                                        <input type="text" class="form-control" id="food_name" name="food_name"  value="{{result.food_name}}">
                                    </div>

                            
                                <div class="col-lg-12 col-md-6 col-12">
                                    <input type="text" class="form-control" id="food_id" name="food_id" hidden  value="{{result.id}}">
                                </div>
                               
                                <div class="col-lg-12 col-md-6 col-12">
                                    <input type="date" class="form-control" id="date" name="date" required >
                                </div>

                                
                           

                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel" aria-labelledby="nav-ContactMap-tab">
                        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29974.469402870927!2d120.94861466021855!3d14.106066818082482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd777b1ab54c8f%3A0x6ecc514451ce2be8!2sTagaytay%2C%20Cavite%2C%20Philippines!5e1!3m2!1sen!2smy!4v1670344209509!5m2!1sen!2smy" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'footer.html' %}

{% endblock %}